body, html {
  margin: 0;
  padding: 0;
}

.loading-cube {
  margin: 45vh auto;
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);
}

.loading-cube .cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.loading-cube .cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  animation: foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.loading-cube .cube2 {transform: scale(1.1) rotateZ(90deg)}
.loading-cube .cube3 {transform: scale(1.1) rotateZ(180deg)}
.loading-cube .cube4 {transform: scale(1.1) rotateZ(270deg)}
.loading-cube .cube2:before {animation-delay: .3s}
.loading-cube .cube3:before {animation-delay: .6s}
.loading-cube .cube4:before {animation-delay: .9s}

@keyframes foldCubeAngle {
  0%,10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}